body{
    background-color:lightgrey;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    text-align: center;
    text-decoration-line: underline;
}

ol{
    text-align: left;
}

h5{
    color: darkred;
}

p{
    color: darkred;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
